{% extends 'base.html' %}


{% block content %}

<form method="POST">
  {% csrf_token %}
  <select name="food_consumed" id="food_consumed">
    {% for food in foods %}
    <option value="{{food.name}}">{{food.name}}</option>
    {% endfor %}
  </select>
  <button type="submit">Add</button>
</form>
{% for item in consumed_foods %}
  {{item.food_consumed.name}} --> {{item.food_consumed.carbs}} --> {{item.food_consumed.protein}} --> {{item.food_consumed.fats}} --> {{item.food_consumed.calories}}<br>
{% endfor %}




{% endblock content %}